<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weplan - Add plan</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<nav class="topnav">
  <h2><a href="/">WeÞlan</a></h2>
  <a href="/ownplans/{{user_id}}">Joined plans</a>
  <a class="active" href="/addplan">Add a new plan</a>
  <a href="/logout">Logout</a>
</nav>
<h2>Add a new plan</h2>
<form action="/addplan" method="POST">
    <input type="hidden" name="creator_id" value="{{ session.user_id }}">
    <p>Name your plan:<br>
    <input type="text" name="name" minlength="1" maxlength="20"></p>

    <p>Add description:</p>
    <textarea name="description" rows="8" cols="40" maxlength="1000"></textarea></p>

    <input type="submit" value="Submit" class="submitbutton">
</form>


</ul>
<p><a href="/" class="go-back-link">Go back to Weplan</a></p>

