<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weplan - Add subplan</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<nav class="topnav">
  <a href="/">WeÞlan</a>
  <a href="/ownplans/{{session.user_id}}">Joined plans</a>
  <a href="/addplan">Add a new plan</a>
  <a href="/statistics">Statistics</a>
  <a href="/logout">Logout</a>
</nav>
<h2>Add new subplans</h2>
<form action="/addsub/{{ plan_id }}" method="POST">
    <p>Name your subplan:<br>
    <input type="text" name="name" minlength="1" maxlength="30"></p>

    <p>Add description:</p>
    <div class="description">
        <textarea name="description" rows="8" cols="40" maxlength="1000"></textarea>
    </div>

    <input type="submit" value="Submit">
</form>

<p><a href="/" class="go-back-link">Go back to Weplan</a></p>
</body>
</html>
