<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weplan</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
{% if session.name %}
<nav class="topnav">
  <h2><a class="active" href="/">WeÞlan</a></h2>
  <a href="/ownplans/{{session.user_id}}">Joined plans</a>
  <a href="/addplan">Add a new plan</a>
  <a href="/logout">Logout</a>
</nav>
{% endif %}
<h1>WeÞlan</h1>
<hr>
{% if session.name %}
  <h3>Welcome!</h3>
  You have logged in as <b>{{ session.name }}</b>
  <p></p>
  <a href="/logout">Logout</a>
  <br><br>
  <hr>
  Here is the list of all active plans:
  <ul>
    {% for plan in plans %}
    <a href="/plan/{{ plan.plan_id }}">{{ plan.name }}</a><br>
    <form action="/ownplans/{{ plan.plan_id }}" method="post">
      <button type="submit" class="submitbutton">Add to own plans</button>
    </form>
    {% endfor %}
  </ul>
  Add a plan: 
  <a href="/addplan">Add a new plan</a>

  <a href="/ownplans/{{ user_plan_id }}">Own plans</a>

{% else %}
  <h3>Frontpage</h3>
  <b>Welcome to weplan! Do you want to log in?</b>
  <form action="/login" method="POST">
    <p>Username:<br>
      <input type="text" name="name"></p>

    <p>Password:<br>
      <input type="password" name="password"></p>

    <input type="submit" value="Login">
  </form>
  <p>New user?<br>
    <a href="/register">Register here</a></p>
{% endif %}

</body>
</html>
