<h2>Weplan</h2>
<hr>

{% if session.name %}

<h3>Welcome!</h3>
You have logged in as <b>{{ session.name }}</b>
<p></p>
<a href="/logout">Logout</a>
<br>
<p></p>
<hr>

Here is the list of all active plans:
<ul>{% for plan in plans %}
<li><a href="/plan/{{ plan.id }}">{{ plan.name }}</a></li>
{% endfor %}
</ul>
Add a plan: 
<li><a href="/addplan">Add a new plan</a>

{% else %}
<h3>Frontpage</h3>
<b>Welcome to weplan! Do you want to log in?</b>
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="name"></p>

<p>Password:<br>
<input type="password" name="password"></p>

<input type="submit" value="Login">
</form>
<p>New user?<br>
<a href="/register">Register here</a></p>
{% endif %}
