<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weplan - {{name}} collection</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
  <nav class="topnav">
    <h2><a href="/">WeÞlan</a></h2>
    <a class="active" href="/ownplans/{{user_id}}">Joined plans</a>
    <a href="/addplan">Add a new plan</a>
    <a href="/statistics">Statistics</a>
    <a href="/logout">Logout</a>
  </nav>
  <h1>{{ name }}'s Plans</h1>
  <hr>
  <h4>Here are the plans you have chosen to follow</h4>
  <ul>
    {% for plan in own_plans %}
      <a>{{ plan.id }}
      <a>{{ plan.creator_name }}
      {% if plan.is_done %} 
      <a>done</a>
      {% endif %}
    {% endfor %}
  </ul>

</body>
</html>


  