<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weplan - {{ name }}</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <nav class="topnav">
        <h2><a href="/">WeÞlan</a></h2>
        <a href="/ownplans/{{session.user_id}}">Joined plans</a>
        <a href="/addplan">Add a new plan</a>
        <a href="/statistics">Statistics</a>
        <a href="/logout">Logout</a>
      </nav>
    <ul>
    <h1>{{ main_plan.name }}</h1>
    {% if main_plan.description %}
    <p>{{ main_plan.description }}</p>
    {%endif%}
    <p>Creator: {{ main_plan.creator }}</p>

    {% if subplans_info %}
        <hr>
        <h2>Subplans:</h2>
        <hr>
        {% for subplan in subplans_info %}
            <div class="task-box {% if subplan.status %}completed{% endif %}">
                {% if subplan.status %}
                    <p>This task is completed</p>
                {% endif %}
                <h4>{{ subplan.name}}</h4>
                <p>{{ subplan.description }}</p>
                <p>Creator: {{ subplan.creator}}</p>
                <form action="/mark_done/{{ plan_id }}/{{ subplan.id }}" method="post">
                    <button type="submit" class="submitbutton">Mark as done</button>
                </form>
                <br>
                <a href="/removesubplan/{{ plan_id }}/{{ subplan.id }}">Remove subplan</a>
                <br>
            </div>
            <hr>
        {% endfor %}
    {% endif %}

    <a href="/removeplan/{{ plan_id }}">Remove</a>

    <a href="/addsub/{{ plan_id }}">Add</a>

    <p><a href="/" class="go-back-link">Go back to Weplan</a></p>

</body>
</html>
