<b>{{ name }}</b>

<ul>
    <li>description: {{ description }}</li>

    {% if creator_id %}
        <li>Owner: {{ creator_id}}</li>
    {% endif %}
    <br>
    {% if subplans_info %}
        Next steps
        <hr>
        <li>{{subplans_info.name }}</li>
    {% endif %}
</ul>

{% if subplans_id %}
    <h2>Subplans:</h2>
    <ul>
        {% for subplan_info in subplans_info %}
            <li>{{ subplan_info.name }} - {{ subplan_info.description }}</li>
        {% endfor %}
    </ul>
{% endif %}

<li><a href="/removeplan/{{ plan_id }}">Remove</a></li>

<li><a href="/addsub/{{ plan_id }}">Add</a></li>

<p><a href="/">Go back to Weplan</a></p>
