<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weplan - register</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<h2>Register to weplan</h2>

<form method="POST" action="/register">

    <p>Username:<br>
    <input type="text" name="name"></p>

    <p>Password:<br>
    <input type="password" name="password1" required></p>
    <p>Repeat password:<br>
    <input type="password" name="password2" required></p>
    <p>
    <input type="submit" value="Register"></p>
</form>

<p>Already have an account? <p><a href="/" class="go-back-link">Go back to Weplan</a></p>
</body>
</html>

