<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weplan - statistics</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
    <nav class="topnav">
        <h2><a href="/">WeÞlan</a></h2>
        <a href="/ownplans/{{session.user_id}}">Joined plans</a>
        <a href="/addplan">Add a new plan</a>
        <a class="active" href="/statistics">Statistics</a>
        <a href="/logout">Logout</a>
      </nav>
<ul>
<h2>Plan Statistics</h2>
<table>
    <thead>
        <tr>
            <th>Plan Name</th>
            <th>Subplans</th>
            <th>Completed Subplans</th>
            <th>Amount Completed</th>
        </tr>
    </thead>
    <tbody>
        {% for result in statistics_data %}
            <tr>
                <td>{{ result.plan_name }}</td>
                <td>{{ result.total_subplans }}</td>
                <td>{{ result.completed }}</td>
                <td>{{ result.completionpros }}{% if result.completionpros is defined %}%{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="/" class="go-back-link">Go back to Weplan</a></p>
</body>
</html>